body{
    background-color: rgba(0, 0, 0, 0.144);
    width: 100%vh;
}

*{
    margin:0px;
    padding:0px;

}


main{
    background-color: white;
    margin: auto;
    min-width: 270px;
    max-width: 420px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);
    border-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
   
    
}

.coluna1 {
display: inline-block;
width: 200px;
height: 700px;
padding-top: 20px;
background-color: white;





}

.coluna2 {
    display:flex;
    display:inline;
    width: 150px;
    height: 700px;
    float:left;
    color: aliceblue;
       padding-top: 10px;
    padding-left: 5px;
    margin-left: 5px;
    background-color: black;
    
}
p{
    padding-top: 7px;
}
.img{
    display: inline;
  
}

hr{
    margin-top: 5px;
    size: 5px;
    width: 210px;
}
.inicio{
    padding-top: 17px;
    text-align: center;
    
}
.col2{
    padding-left: 20px;
    height: 600px;
    width: 200px;
    margin:0px;
}
h1{
    font-size: 1.3em;
}
h2{
    font-size:1.2em;
    padding-top: 10px;
}
h3{
    padding-top: 5px;
    font-size:1.1em;
}
h4{
    font-size: 1.01em;
    color: rgba(0, 0, 0, 0.616);
    
}
h5{
    background-color: black;
    color:aliceblue;
    width: 190px;
    padding-left: 2px;
}
img{
    padding-top: 2px;
}
a{
    color:black;
}
.zap{
    color:aliceblue;
    width: 200px;
    content: '\1F517';
}
.tel{
    font-size: 0.9em;
    display: inline;
}
.e-mail{
    font-size:0.7em;
    display:inline;
}
.end{
    font-size: 0.8em;
    display: inline;
}



.social{
    padding-top: 20px;
    text-decoration: none;
    content: none;
}
.contato{
    font-size: 0.9em;
}
